body, html {
    height: 100%;
    margin: 0;
    display: flex;
}

#category-buttons {
    background-color: #f1f1f1;;
    padding: 10px; /* Add padding for spacing */
    border-radius: 0px; /* Add rounded corners */
    margin-bottom: 20px; /* Add spacing at the bottom */
}

#category-dropdown{
    background-color: #f1f1f1;
    
}

/* Add styles for the dropdown container */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Style for the dropdown button */
.dropdown button {
    background-color: #f1f1f1;
    color: black;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
}

/* Style for the dropdown list */
#category-list {
    position: absolute;
    display: none;
    background-color: #f1f1f1;
    list-style: none;
    margin: 0;
    padding: 0;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Style for the dropdown list items */
#category-list li {
    padding: 5px 10px;
    cursor: pointer;
    color: black;
}

/* Display the dropdown list when the button is clicked */
.dropdown.active #category-list {
    display: block;
}


ul.center-content {
    list-style: none;
    padding: 0; /* Remove any default padding */
}

#conteudo {
    display: flex;
    width: 100%;
}

#links {
    background-color: #f1f1f1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#links li {
    cursor: pointer;
    transition: 0.3s ease;
    opacity: 0.7;
    /*margin-bottom: 10px*/;
}

#links li:hover {
    opacity: 1;
}

#respostas {
    flex: 1;
    padding: 20px;
}

.faq {
    display: none;
    /*margin: 20px;*/
}

.faq.active {
    display: block;
}

.center-content {
    text-align: left;
}
