body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: row;
}

.left-link {
    margin-right: 20px; /* Espaçamento entre o link e o conteúdo */
}

.center-content {
    text-align: center;
    /* Estilos adicionais para o conteúdo centralizado */
}
