body, html {
    height: 100%;
    margin: 0;
    display: flex;
}

.container {
    display: flex;
    flex-direction: row;
}

.sidebar {
    background-color: #333;
    color: white;
    width: 200px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.sidebar-link {
    color: white;
    text-decoration: none;
    margin-bottom: 10px;
}

.content-container {
    flex: 1;
    padding: 20px;
}

.center-content {
    text-align: center;
    display: none;
}

.center-content.active {
    display: block;
}
